# .github/workflows/viss2-core.yml
name: Reporting API publication
on:
  pull_request: {}
  push:
    branches: [main]
    
jobs:
  main:
    name: Publish Reporting
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v2
        with:
          SOURCE: network-reporting.bs
          TOOLCHAIN: bikeshed
          W3C_ECHIDNA_TOKEN: ${{ secrets.W3C_TR_TOKEN }}
          W3C_WG_DECISION_URL: https://lists.w3.org/Archives/Public/public-web-perf/2021Apr/0005.html
          W3C_BUILD_OVERRIDE: |
             shortName: reporting-1
             status: WD
